/* for mobile phones */
.monitor {
  margin-top: -45px;
  margin-left: -1em;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 575px) {
  /* For small desktop: */
  .monitor {
    margin-top: -45px;
    width: 100%;
    position: absolute;
  }
}

@media only screen and (min-width: 576px) and (max-width: 661px) {
  /* For mid desktop: */
  .monitor {
    margin-top: -45px;
    margin-left: -2em;
    width: 110%;
    position: absolute;
  }
}

@media only screen and (min-width: 662px) {
  /* For large desktop: */
  .monitor {
    margin-top: -45px;
    margin-left: -4em;
    width: 110%;
    position: absolute;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-title {
  justify-content: center;
  text-align: left;
  max-width: 860px;
  margin: auto;
}

.button-cta {
  font-size: large;
  color: black !important;
  text-decoration: none !important;
  // margin-bottom: 20px;
}

.button-link {
  text-decoration: none !important;
  color: black !important;
}

.d-lg-inline {
  font-size: small;
  vertical-align: middle;
}

.plot {
  padding: 20px 0px 20px 10px;
  overflow: visible;
  font-size: medium;
}

.plot-wan-destinations {
  font-size: small;
}

.marks {
  margin: 30px -0px 20px 0px;
  padding: 0 10px 0 0;
  overflow: visible;
}
